body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 40px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-item {
    display: flex;
    margin-bottom: 20px;
}

.add-item input {
    width: calc(100% - 80px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #B8B8B8;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.add-item button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.add-item button:hover {
    background-color: #0056b3;
}

.shopping-section {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #B8B8B8;
    flex: 3;
    min-width: 500px; /* Change this value to set your desired minimum width */
    position: relative; /* For badge positioning */
}

.summary {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #B8B8B8;
    flex: 1;
    min-width: 300px;
}

.shopping-list {
    border-top: 1px solid #B8B8B8;
}

.item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.item-name,
.quantity,
.action-buttons {
    min-width: 150px; 
}

.item-name {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
}

.item-name .nbought {
    text-decoration: line-through;
}

.quantity {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.quantity span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #EBEBEB;
    border-radius: 5px;
    line-height: 20px;
    font-size: 12px;
}

.action-buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.btn-decrease,
.btn-increase {
    color: #FFFFFF;
    display: inline-block;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    border-radius: 50%;
}

.btn-decrease {
    background-color: #CC2E25;
    box-shadow: 0 5px #A12532;
    border: 2px solid #A12532;
}

.btn-increase {
    background-color: #78BB2E;
    box-shadow: 0 5px #629B26;
    border: 2px solid #629B26;
}

.btn-decrease:hover {
    background-color: #BD263A;
}

.btn-increase:hover {
    background-color: #72AB32;
}

.bought,
.not-bought,
.remove {
    display: inline-block;
    padding: 10px 14px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    border-radius: 14px;
}

.bought {
    background-color: #E9E8EE;
    box-shadow: 0 5px #C6C6C6;
    border: 2px solid #C5C4C9;
    color: #686560;
}

.not-bought {
    background-color: #E9E8EE;
    box-shadow: 0 5px #C6C6C6;
    border: 2px solid #C5C4C9;
    color: #686560;
}

.remove {
    background-color: #DB143B;
    box-shadow: 0 5px #B10D2F;
    border: 2px solid #990B29;
    color: white;
}

.bought:hover {
    background-color: #DAD9DE;
}

.not-bought:hover {
    background-color: #DAD9DE;
}

.remove:hover {
    background-color: #CC1436;
}

.number {
    background-color: #E7E7E7;
    color: #7B8191;
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    border-radius: 14px;
}

.summary h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.summary .remaining,
.summary .bought-items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.summary .quantity-badge {
    background-color: orange;
    border-radius: 12px;
    padding: 2px 6px;
    margin-left: 10px;
    font-size: 12px;
    color: white;
}

.summary .item {
    background-color: #EBEBEB;
    border-radius: 5px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
}

.summary .item .name {
    text-decoration: line-through;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

.empty-space {
    width: 20px;
    height: 20px;
    display: inline-block;
    visibility: hidden;
}

/* Badge styling */
.badge-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge {
    background-color: purple;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.badge:hover {
    background-color: blue;
    transform: translateY(-10px);
}

.badge:hover::after {
    content: "Created by: D. Horiachok";
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 12px;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .shopping-section,
    .summary {
        width: 100%;
        margin-bottom: 20px;
    }

    .shopping-section {
        min-width: 500px;
    }

    .add-item input {
        width: calc(100% - 80px);
    }

    .item-name {
        margin-right: 20px;
    }

    .badge {
        max-height: 50px;
    }
}

@media (min-width: 501px) and (max-width: 710px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .shopping-section,
    .summary {
        width: 100%;
        margin-bottom: 20px;
    }

    .shopping-section {
        min-width: 500px;
    }

    .add-item input {
        width: calc(100% - 80px);
    }

    .item-name {
        margin-right: 20px;
    }

    .badge {
        max-height: 50px;
    }
}
