body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 40px;
}


/* містить основний вміст сторінки. використовує flexbox, щоб обгортати елементи, 
створювати проміжки між ними та вирівнювати їх за space between і flex-start alignment.*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.add-item {
    display: flex;
    margin-bottom: 20px;
    position: relative; /* позиція кнопки */
}

/*------- сьорчбар -------*/

.add-item input {
    width: calc(100% - 150px); /* розмір кнпоки 'додати' */
    padding: 13px; /* ширина пошукової стрічки */
    font-size: 17px;
    border: 1px solid #B8B8B8;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px; /* висота */
    box-sizing: border-box; 
}

/*------- кнопка додати -------*/
.add-item button {
    width: 150px; /*ширина кнопки */
    padding: 0; /* видалення відступ за замовчуванням щоб уникнути збільшення висоти */
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    box-shadow: 0 5px #006ADB; 
    border: 1px solid #006ADB; 
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    height: 45px; /* висота кнопки щоб підходило під розмір сьорчбару (кляті тіні) */
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center; /* центрує текст */
    position: relative; /* тримає кнопку в нормальному положенні */
    margin-top: 0; /* налаштування поля, щоб вирівняти його з сьорчбаром */
}

.add-item button:hover {
    background-color: #006ADB;
}


.shopping-section {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #B8B8B8;
    flex: 3;
    min-width: 550px;
    position: relative;
    align-items: flex-start;
}

.summary {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #B8B8B8;
    flex: 1;
    min-width: 200px;
    height: 260px;
    min-height: 260px;
    align-items: flex-start;
}

.item-row {
    display: flex; /* використати flexbox*/
    align-items: center; /* вертикальне центрування */
    justify-content: space-between; /* рівномірно розподіляє предмети по ряду */
    padding: 5px 0; /* відступ у верхній і нижній частині рядка */
}

/* мінімальна довжина всіх трьох блоків-елементів в рядку, щоб вони не обрізали один одного*/
.item-name,
.quantity,
.action-buttons {
    min-width: 150px;
}

.item-name {
    flex: 1;
    max-width: 200px;
    margin-right: 100px;
}

.item-name .nbought {
    text-decoration: line-through;
}

.quantity {
    flex: 1; /* зайняти доступне місце */
    display: flex; /* використати flexbox */
    align-items: center; /* вертикально відцентрувати */
    justify-content: center; /* горизонтально відцентрувати */
    gap: 8px; /* спейсінг між об'єктами */
}


.quantity span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #EBEBEB;
    border-radius: 5px;
    line-height: 20px;
    font-size: 12px;
}

.action-buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}


/*.btn-decrease, .btn-increase {
    transition: transform 0.1s ease; 
}*/


/*.add-item button:active:not(:disabled),*/
.btn-decrease:active:not(:disabled),
.btn-increase:active:not(:disabled),
.bought:active:not(:disabled),
.not-bought:active:not(:disabled),
.remove:active:not(:disabled) {
    transform: translateY(2px); 
}

button:disabled {
    opacity: 0.5; /* зменшує прозорість щоб показати стан */
}


.btn-decrease,
.btn-increase {
    color: #FFFFFF;
    display: inline-block;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    border-radius: 50%;
}

.btn-decrease {
    background-color: #CC2E25;
    box-shadow: 0 5px #A12532;
    border: 2px solid #A12532;
}

.btn-increase {
    background-color: #78BB2E;
    box-shadow: 0 5px #629B26;
    border: 2px solid #629B26;
}

.btn-decrease:hover {
    background-color: #BD263A;
}

.btn-increase:hover {
    background-color: #72AB32;
}

.bought,
.not-bought,
.remove {
    display: inline-block;
    padding: 10px 14px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
}

.bought {
    background-color: #E9E8EE;
    box-shadow: 0 5px #C6C6C6;
    border: 2px solid #C5C4C9;
    color: #686560;
}

.not-bought {
    background-color: #E9E8EE;
    box-shadow: 0 5px #C6C6C6;
    border: 2px solid #C5C4C9;
    color: #686560;
}

.remove {
    background-color: #DB143B;
    box-shadow: 0 5px #B10D2F;
    border: 2px solid #990B29;
    color: white;
}

.bought:hover {
    background-color: #DAD9DE;
}

.not-bought:hover {
    background-color: #DAD9DE;
}

.remove:hover {
    background-color: #CC1436;
}

.number {
    background-color: #E7E7E7;
    color: #7B8191;
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    border-radius: 14px;
}

.summary h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.summary .remaining,
.summary .bought-items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.summary .quantity-badge {
    background-color: orange;
    border-radius: 12px;
    padding: 2px 6px;
    margin-left: 10px;
    font-size: 12px;
    color: white;
}

.summary .item {
    background-color: #EBEBEB;
    font-size: 11px;
    color: #7B8191;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
}

.summary .item .name {
    text-decoration: line-through;
}

/* ------------- сірі палочки -------------*/
hr {
    border: 0;
    border-top: 1px solid #b4b4b4;
    margin: 8px -15px; 
    padding-top: 0.1px; /* відступ згори */
    padding-bottom: 0.1px; /* відступ знизу */
    width: calc(100% + 30px); 
}

.empty-space {
    width: 20px;
    height: 20px;
    display: inline-block;
    visibility: hidden;
}


/* ------------- бейджик (killing myself) ------------- */
.badge-container {
    position: absolute; /* розташування контейнера бейджа */
    bottom: 10px; /* відстань від низу сторінки */
    left: 10px; /* відстань зліва */
    display: flex; /* flexbox layout */
    align-items: center; /* центрування вертикально */
    justify-content: center; /* центрування горизонтпльно */
}

.badge {
    background-color: purple; 
    color: white; 
    justify-content: flex-start; 
    border-top-left-radius: 12px; /* заокруглені куточки */
    border-top-right-radius: 12px;
    padding: 8px 16px; /* відступ */
    cursor: pointer; /* курсор стайл */
    transition: all 0.3s ease; /* плавний перехід */
}

.badge:hover {
    background-color: blue; 
    transform: translateY(-10px); /* бейджик піднімається */
}

.badge:hover::after {
    content: "Created by:\A D. Horiachok"; 
    justify-content: flex-start; 
    display: block;
    margin-top: 10px;
    color: white; 
    font-size: 12px; 
    white-space: pre;
}

.badge::before {
    content: "Buy List"; 
    font-weight: bold; 
    color: white; 
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px;
    padding: 8px 16px; 
    cursor: pointer; 
    transition: all 0.3s ease;
    justify-content: flex-start; 
}



@media print {
    .badge {
        background-color: purple;
        border: 2px solid purple ; 
    }

    .badge:hover {
        background-color: purple; 
    }

    .badge::before {
        content: "Created by: \A D. Horiachok"; 
        font-weight: lighter; 
        white-space: pre; 
        display: block; 
    }

}


/* ------------- Tooltip -------------*/
button[data-tooltip] {
    position: relative;
}

button[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -35px; 
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    background-color: purple;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
    font-size: 12px;
    transform-origin: bottom center;
    z-index: 10; 
}

button[data-tooltip]:hover::before {
    opacity: 1; /* прозорість встановлена на 1 при наведенні курсора */
    animation: grow 0.5s forwards;
}

button[data-tooltip]:not(:hover)::before {
    animation: shrink 0.5s forwards;
}

@keyframes grow {
    0% {
        transform: translateX(-50%) scale(0.5);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

@keyframes shrink {
    0% {
        transform: translateX(-50%) scale(1);
    }
    100% {
        opacity: 0; /* прозорість встановлена на 0 при відсутності курсора */
        transform: translateX(-50%) scale(0.5);
    }
}



/* ------------- Корекція для меншогр вікна -------------*/

@media (max-width: 710px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .shopping-section, .summary {
        width: 100%;
        min-width: 550px;
    }

    .summary {
        min-height: 260px;
        height: 260px;
    }

    .item-name {
        margin-right: 20px;
    }

    .badge {
        max-height: 50px;
    }
}